.home-slider {
  .carousel-item {
    width: 100%;
    height: 150px;

    @extend .background-img;

    @include media-breakpoint-up(md) {
      height: 350px;
    }
  }
}

.latest-product {
  .archive-link {
    a {
      float: right;

      [dir=rtl] & {
        float: left;
      }
    }
  }
}

.about-section {
  .content {
    @include media-breakpoint-up(md) {
      width: 50%;
      justify-content: end;
    }
  }
}

.home-background {
  width: 100%;
  height: 250px;

  @extend .background-img;

  @include media-breakpoint-up(md) {
    height: 350px;
  }
}
